{% extends 'layout.html' %}
{% block content %}
    <div class="float-left">
        <a href="{{ url_for('view_store', store_id = store.id) }}" class="btn btn-secondary ml-2 mb-2">Back to Home</a>
    </div>
    <!-- Table-like form for adding new stock -->
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Cost Price</th>
          <th>Selling Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <form method="POST">
            {{ form.hidden_tag() }}
            <td>{{ form.item_name(class="form-control") }}</td>
            <td>{{ form.item_cost_price(class="form-control") }}</td>
            <td>{{ form.item_selling_price(class="form-control") }}</td>
            <td>{{ form.submit(class="form-control btn btn-primary") }}</td>
          </form>
        </tr>
      </tbody>
    </table>

{% endblock %}


