{% extends 'layout.html' %}
{% block content %}
    <div class="float-left">
        {% if current_user.user_role=='Admin' %}
            <a href="{{ url_for('stock') }}" class="btn btn-secondary ml-2 mb-2">Back to Home</a>
        {% else %}
            <a href="{{ url_for('stock_sold') }}" class="btn btn-secondary ml-2 mb-2">Back to Home</a>
        {% endif %}
    </div>
    <!-- Table-like form for adding new stock -->
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <form method="POST">
            {{ form.hidden_tag() }}
            <td>{{ form.item_name(class="form-control") }}</td>
            <td>{{ form.item_price(class="form-control") }}</td>
            <td>{{ form.item_quantity(class="form-control") }}</td>
            <td>{{ form.submit(class="form-control btn btn-primary") }}</td>
          </form>
        </tr>
      </tbody>
    </table>

{% endblock %}