{% extends 'layout.html' %}
{% block content %}
    <div class="container form-group">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mt-2 mb-4">Register Shop</legend>
                <div class="row" id="registerForm">
                    <div class="form-group">
                        <div class="col-md-12">
                            {{ form.shopkeeper.label (class="form-control-label")}}
                            {% if form.shopkeeper.errors %}
                                {{ form.shopkeeper (class="form-control form-control-lg is-invalid")}}
                                <ul class="invalid-feedback">
                                    {% for error in form.shopkeeper.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ form.shopkeeper (class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            {{ form.submit (class="btn btn-outline-info", style="background-color: #008CBA; color: white;")}}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}