{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <!-- Table-like form for adding new sale -->
        <table class="table col-9 m-auto">
          <thead>
            <tr>
              <th class="text-left">Item Name</th>
              <th class="text-center">Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items_list %}
              <tr>
                <td>{{ item.item_name }}</td>
                <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.item_id(value=item.id, hidden=True) }}
                <td>{{ form.quantity(class="form-control") }}</td>
              </form>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button class="btn btn-info" type="submit">Send</button>
    </div>
{% endblock content %}