{% extends 'layout.html' %}
{% block content %}
    <div class="container justify-content-center">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mt-2 mb-4">Edit Expense</legend>
                <div class="row" id="registerForm">
                    <div class="form-group">
                        <div class="col-md-12">
                            {{ form.account.label (class="form-control-label")}}
                                {% if form.account.errors %}
                                    {{ form.account (class="form-control form-control-lg is-invalid")}}
                                    <ul class="invalid-feedback">
                                        {% for error in form.account.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {{ form.account (class="form-control form-control", id="name")}}
                                {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            {{ form.amount.label (class="form-control-label")}}
                            {% if form.amount.errors %}
                                {{ form.amount (class="form-control form-control-lg is-invalid")}}
                                <ul class="invalid-feedback">
                                    {% for error in form.amount.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ form.amount (class="form-control form-control")}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            {{ form.description.label (class="form-control-label")}}
                            {% if form.description.errors %}
                                {{ form.description (class="form-control form-control-lg is-invalid")}}
                                <ul class="invalid-feedback">
                                    {% for error in form.description.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ form.description (class="form-control form-control")}}
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            {{ form.submit (class="btn btn-outline-info", style="background-color: #008CBA; color: white; width:250px")}}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}