<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{{ url_for('static', filename='css/font-face.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/font-awesome-5/css/fontawesome-all.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{ url_for('static', filename='vendor/bootstrap-4.1/bootstrap.min.css') }}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{ url_for('static', filename='vendor/animsition/animsition.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/wow/animate.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/slick/slick.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">

</head>

<body class="animsition">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <h1><span style="color: white; font-family: Algerian"><i>JNQ</i></span></h1>
                        <a href="{{ url_for('register_user' )}}">Register</a>
                    </div>
                     {% if current_user.is_authenticated and current_user.user_role == 'Admin' %}
                        <div class="header__navbar">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ url_for('home') }}">
                                        <i class="bot-line"></i>Dashboard
                                    </a>
                                </li>
                                <li class="has-sub">
                                    <a href="#">
                                        <span class="bot-line"></span>Stores</a>
                                    <ul class="header3-sub-list list-unstyled">
                                        <li>
                                            <a href="{{ url_for('register_store')}}">Add</a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for('view_stores')}}">View</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#">
                                        <span class="bot-line"></span>Users</a>
                                    <ul class="header3-sub-list list-unstyled">
                                        <li>
                                            <a href="{{ url_for('register_user') }}">Register</a>
                                        </li>
                                        <li>
                                            <a href="{{url_for('view_users')}}">View</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#">
                                        <span class="bot-line"></span>Shops</a>
                                    <ul class="header3-sub-list list-unstyled">
                                        <li>
                                            <a href="{{ url_for('register_shop') }}">Add</a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for('view_shops') }}">View</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{{ url_for('shop_daily_report') }}">
                                        <span class="bot-line"></span>Reports</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('view_debtors')}}">
                                        <span class="bot-line"></span>Debtors</a>
                                </li>
                                <li class="has-sub">
                                    <a href="#">
                                        <span class="bot-line"></span>Items</a>
                                    <ul class="header3-sub-list list-unstyled">
                                        <li>
                                            <a href="{{ url_for('add_items')}}">Add</a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for('view_items')}}">View</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#">
                                        <span class="bot-line"></span>Accounts</a>
                                    <ul class="header3-sub-list list-unstyled">
                                        <li>
                                            <a href="{{ url_for('add_account')}}">Add</a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for('view_accounts')}}">View</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{{ url_for('logout')}}">
                                        <span class="bot-line"></span>Logout</a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                         <a href="{{ url_for('login') }}"><h2 style="color: white; font-family: Verdana">
                             Inventory & Stock Control System</h2></a>
                    {% endif %}
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo">
                            <h1><span style="color: white; font-family: Algerian"><i>JNQ</i></span></h1>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="{{ url_for('home') }}">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>Stores</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{ url_for('register_store')}}">Add</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('view_stores')}}">View</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>Users</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{ url_for('register_user') }}">Register</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('view_users')}}">View</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>Shops</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{ url_for('register_shop') }}">Add</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('view_shops')}}">View</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ url_for('shop_daily_report') }}">
                                <i class="fas fa-calendar-alt"></i>Reports</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Debtors</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>Items</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{ url_for('add_items')}}">Add</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('view_items')}}">View</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>Accounts</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{ url_for('add_account')}}">Add</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('view_accounts')}}">View</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">
                                <i class="fas fa-calendar-alt"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container" style="margin-top: 3rem; text-align: center;">
           {% with messages = get_flashed_messages ( with_categories=true ) %}
             {% if messages %}
                 {% for category, message in messages %}
                     <div class="alert alert-{{ category }}">
                         {{ message }}
                     </div>
                 {% endfor %}
             {% endif %}
           {% endwith %}
        </div>

        {% block content %}
        {% endblock %}

        <!-- Jquery JS-->
        <script src="{{ url_for('static', filename='vendor/jquery-3.2.1.min.js') }}"></script>
        <!-- Bootstrap JS-->
        <script src="{{ url_for('static', filename='vendor/bootstrap-4.1/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap-4.1/bootstrap.min.js') }}"></script>
        <!-- Vendor JS       -->
        <script src="{{ url_for('static', filename='vendor/slick/slick.min.js') }}">
        </script>
        <script src="{{ url_for('static', filename='vendor/wow/wow.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/animsition/animsition.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap-progressbar/bootstrap-progressbar.min.js') }}">
        </script>
        <script src="{{ url_for('static', filename='vendor/counter-up/jquery.waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/counter-up/jquery.counterup.min.js') }}">
        </script>
        <script src="{{ url_for('static', filename='vendor/circle-progress/circle-progress.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/chartjs/Chart.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Main JS-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
<!-- end document-->
