{% extends 'layout.html' %}
{% block content %}
    <section class="p-t-20">
        <div class="d-flex float-right">
          <button class="btn btn-primary dropdown-toggle" type="button" id="salesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Download Sales Report
          </button>
          <div class="dropdown-menu" aria-labelledby="salesDropdown">
            <a class="dropdown-item" href="{{ url_for('download_reports', download=True, time_range='7') }}">7 days</a>
            <a class="dropdown-item" href="{{ url_for('download_reports', download=True, time_range='30') }}">30 days</a>
            <a class="dropdown-item" href="{{ url_for('download_reports', download=True, time_range='183') }}">6 months</a>
            <a class="dropdown-item" href="{{ url_for('download_reports', download=True, time_range='365') }}">1 Year</a>
          </div>
        </div>
        <div class="container mt-4">
            {% for date in date_list %}
                <caption style="caption-side: top"><span class="d-flex justify-content-center border-bottom"><strong>{{date}}</strong></span></caption>
                <div class="row" id="usersTableRow">
                    <div class="col-md-12">
                        <div class="table-responsive table-responsive-data2">
                            <table class="table font-weight-bold">
                                <thead>
                                    <tr>
                                        <th >Name</th>
                                        <th>Cash</th>
                                        <th>Orange Money</th>
                                        <th>Bank</th>
                                        <th>Total Sales</th>
                                        <th>Total Discount</th>
                                        <th>Total Cost</th>
                                        <th>Net Profit/Loss</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shop in shops %}
                                        <tr>
                                            <td>{{ shop.shop_name }}</td>
                                            {% if payment_methods_lookup[date][shop.shop_name]["Cash"] %}
                                                <td>{{ payment_methods_lookup[date][shop.shop_name]["Cash"] }}</td>
                                            {% else %}
                                                <td>0</td>
                                            {% endif %}
                                            {% if payment_methods_lookup[date][shop.shop_name]["Orange Money"] %}
                                                <td>{{ payment_methods_lookup[date][shop.shop_name]["Orange Money"] }}</td>
                                            {% else %}
                                                <td>0</td>
                                            {% endif %}
                                            {% if payment_methods_lookup[date][shop.shop_name]["Bank"] %}
                                                <td>{{ payment_methods_lookup[date][shop.shop_name]["Bank"] }}</td>
                                            {% else %}
                                                <td>0</td>
                                            {% endif %}
                                            {% if total_sales_lookup[date][shop.shop_name]%}
                                                <td>{{ total_sales_lookup[date][shop.shop_name] }}</td>
                                            {% else %}
                                                <td>0</td>
                                            {% endif %}
                                            {% if discount_lookup[date][shop.shop_name] %}
                                                <td>{{ discount_lookup[date][shop.shop_name] }}</td>
                                            {% else %}
                                                <td>0</td>
                                            {% endif %}
                                            {% if sales_cost_lookup[date][shop.shop_name] %}
                                                <td>{{ sales_cost_lookup[date][shop.shop_name] }}</td>
                                            {% else %}
                                                <td>0</td>
                                            {% endif %}
                                            {% if profit_lookup[date][shop.shop_name] %}
                                                <td>{{ profit_lookup[date][shop.shop_name] }}</td>
                                            {% else %}
                                                <td>0</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="font-weight-bold font-italic " colspan="7"><span class="float-right">Total Profit/Loss</span></td>
                                        <td class="font-weight-bold font-italic" colspan="7"><h3>{{ total_profit[date] }}</h3></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content%}

