{% extends 'layout.html' %}
{% block content %}
    <!-- Buttons -->
    <div class="button-container">
      <button class="button active">Stock</button>
      <button class="button">Sales</button>
      <button class="button">Receive Stock</button>
    </div>

    <!-- Table with spreadsheet-like design -->
    <table class="table">
      <thead>
        <tr>
          <th>Shop ID</th>
          <th>Shop Name</th>
          <th>Shop Location</th>
          <th>Date Added</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ user_shop.id }}</td>
          <td>{{ user_shop.shop_name }}</td>
          <td>{{ user_shop.location }}</td>
          <td>2018-09-27 02:12</td>
          <td><button>Edit</button></td>
        </tr>
      </tbody>
    </table>

{% endblock content%}