{% extends 'layout.html' %}
{% block content %}
    <!-- Buttons -->
    <div class="button-container">
      <a class="button active">Stock</a>
      <a class="button">Sales</a>
      <a href="{{ url_for('add_new_stock')}}" class="button">Add New Stock</a>
    </div>

    <!-- Table with spreadsheet-like design -->
    <table class="table">
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          {% if user_shop.staff.user_role=='Admin' %}
            <th>Item Quantity</th>
          {% endif %}
          <th>Item Price</th>
          <th>Item Status</th>
          <th>Item Value</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.item_name }}</td>
              {% if user_shop.staff.user_role=='Admin' %}
                <td>{{ product.item_quantity }}</td>
              {% endif %}
              <td>{{product.item_price}}</td>
              <td>{{product.stock_status}}</td>
              <td><button>Edit</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock content%}