{% extends 'layout.html' %}
{% block content %}
    <!-- Table-like form for adding new stock -->
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <form method="POST">
            {{ form.hidden_tag() }}
            <td>{{ form.item_name(class="form-control") }}</td>
            <td>{{ form.item_quantity(class="form-control") }}</td>
            <td>{{ form.submit(class="form-control btn btn-primary") }}</td>
          </form>
        </tr>
      </tbody>
    </table>

{% endblock %}