{% extends 'layout.html' %}
{% block content %}

    <!-- Table with spreadsheet-like design -->
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Item Cost Price</th>
          <th>Item Selling Price</th>
          <th>Item Quantity</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for item in trash_items %}
          <tr>
              <td>{{ item.item_name }}</td>
              <td>{{ "{:,.2f}".format(item.item_cost_price) }}</td>
              <td>{{ "{:,}".format(item.item_selling_price) }}</td>
              <td>{{ "{:,}".format(item.item_selling_price) }}</td>
              <td>{{ item.item_quantity }}</td>
              <td>{{ item.date.strftime("%Y-%m-%d") }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content%}