{% extends 'layout.html' %}
{% block content %}
     <table class="table">
         <caption class="ml-5" style="caption-side: top">Shops Summary Table<span class="ml-4"> Date: {{date}}</span></caption>
          <thead>
            <tr>
              <th scope="col">Shop Name</th>
              <th scope="col">Location</th>
              <th scope="col">Shopkeepers</th>
              <th scope="col">Total Stock Value</th>
              <th>Action</th>
              <th></th>
            </tr>q
          </thead>
          <tbody>
          {% for shop in shops %}
              <tr>
                <!-- Shop ID, Shop Name, Location columns -->
                <td>{{ shop.shop_name }}</td>
                <td>{{ shop.location }}</td>

                <!-- Shopkeepers column -->
                <td>
                  {% if shop.shopkeepers %}
                      {% for shopkeeper in shop.shopkeepers %}
                        {{ shopkeeper.user_details.username }}{% if not loop.last %}, {% endif %}
                      {% endfor %}
                  {% else %}
                      __
                  {% endif %}

                </td>

                <!-- Total Stock Value column -->
                <td>
                  {% if shop_stock_lookup %}
                    {{ "{:,}".format(shop_stock_lookup[shop.id]) }}
                  {% else %}
                    0 Items
                  {% endif %}
                </td>

                <!-- Action and View More links -->
                <td>
                  <a href="{{ url_for('assign_shopkeeper', shop_id=shop.id) }}">Assign Shopkeeper</a>
                </td>
                <td><a href="{{ url_for('edit_shop', shop_id=shop.id) }}">Edit</a></td>
                <td>
                  <a href="{{ url_for('view_shop', shop_id=shop.id) }}">View More</a>
                </td>
              </tr>
            {% endfor %}

          </tbody>
     </table>
{% endblock %}