{% extends 'layout.html' %}
{% block content %}
    <!-- Buttons -->
    <div class="button-container">
      <a class="button active">Stock</a>
      <a href="{{ url_for('stock_out', store_id=store.id)}}" class="button">Transfer</a>
      <a href="{{ url_for('stock_in', store_id=store.id)}}" class="button">Receive Stock</a>
      <a class="ml-4">Store Name: {{store.store_name}}</a>
      <a class="ml-4">Date:{{date}}</a>
      <div class="float-right">
          <a href="{{ url_for('view_stores')}}" class="button">Back</a>
      </div>
    </div>

     <!-- Table with spreadsheet-like design -->
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Item Quantity</th>
          <th>Cost Price</th>
          <th>Selling Price</th>
          <th>Item Value</th>
          <th>Date Received</th>
          <th colspan="2">Item Status</th>
        </tr>
      </thead>
      <tbody>
        {% for product in store_items %}
          <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.item.item_name }}</td>
              <td class="text-right">{{ "{:,}".format(product.item_quantity) }}</td>
              <td class="text-right">{{ "{:,}".format(product.item.item_cost_price) }}</td>
              <td class="text-right">{{ "{:,}".format(product.item.item_selling_price) }}</td>
              <td class="text-right">{{ "{:,}".format(product.item_value) }}</td>
              <td class="text-right">{{ product.date_added.date() }}</td>
              <td class="text-right">{{ product.stock_status }}</td>
              <td class="text-center"><a href="#">Edit</a></td>
          </tr>
        {% endfor %}
          <tr>
              <td colspan="5" class="text-right"><strong>Total Stock Value</strong></td>
              <td class="text-right"><strong>{{total_stock_value}}</strong></td>
              <td colspan="3"></td>
          </tr>
      </tbody>
    </table>
{% endblock content%}