{% extends 'layout.html' %}
{% block content %}
     <table class="table">
         <caption class="ml-5" style="caption-side: top">Shops Summary Table<span class="ml-4"> Date: {{date}}</span></caption>
          <thead>
            <tr>
              <th scope="col">Shop ID</th>
              <th scope="col">Shop Name</th>
              <th scope="col">Location</th>
              <th scope="col">Shopkeepers</th>
              <th scope="col">Total Stock Value</th>
              <th>Action</th>
              <th></th>
            </tr>q
          </thead>
          <tbody>
          {% for shop in shops %}
              <tr>
                <!-- Shop ID, Shop Name, Location columns -->
                <td>{{ shop.id }}</td>
                <td>{{ shop.shop_name }}</td>
                <td>{{ shop.location }}</td>

                <!-- Shopkeepers column -->
                <td>
                  {% if shop.shopkeepers %}
                    {% for shopkeeper in shop.shopkeepers %}
                        <a data-toggle="modal" data-target="#deleteModal">
                        <span>[</span> {{ shopkeeper.user_details.username }}<span>]</span></a>
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title font-italic" id="deleteModalLabel">Do you want to remove this shopkeeper from this shop?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="{{ url_for('remove_shopkeeper', shop_id=shop.id, shopkeeper_id=shopkeeper.id)}}">
                                    <button type="button" class="btn btn-danger">Remove</button></a>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                  {% else %}
                    __
                  {% endif %}
                </td>

                <!-- Total Stock Value column -->
                <td>
                  {% if shop_stock_lookup %}
                    {{ shop_stock_lookup[shop.id] }}
                  {% else %}
                    0 Items
                  {% endif %}
                </td>

                <!-- Action and View More links -->
                <td>
                  <a href="{{ url_for('assign_shopkeeper', shop_id=shop.id) }}">Assign Shopkeeper</a>
                </td>
                <td>
                  <a href="{{ url_for('view_shop', shop_id=shop.id) }}">View More</a>
                </td>
              </tr>
            {% endfor %}

          </tbody>
     </table>
{% endblock %}