{% extends 'layout.html' %}
{% block content %}
    <section class="p-t-20">
        <div class="container">
            <div class="row" id="usersTableRow">
                <div class="col-md-12">
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th >Name</th>
                                    <th>Company Name</th>
                                    <th>Phone Number</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for debtor in debtors %}
                                    <tr>
                                        <td>{{ debtor.name }}</td>
                                        <td>{{ debtor.company_name }}</td>
                                        <td>{{ debtor.phone_number }}</td>
                                        <td>{{ "{:,}".format(debtor.unpaid_amount) }}</td>
                                        <td><button>Edit</button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content%}