{% extends 'layout.html' %}
{% block content %}
    <section class="p-t-20">
        <div class="container">
            <div class="row" id="usersTableRow">
                <div class="col-md-12">
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th style="color: white">Name</th>
                                    <th style="color: white">Company Name</th>
                                    <th style="color: white">Phone Number</th>
                                    <th style="color: white">Item Lent</th>
                                    <th style="color: white">Quantity</th>
                                    <th style="color: white">Value</th>
                                    <th colspan="2" style="color: white">Lending Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for debtor in debtors %}
                                    <tr class="tr-shadow">
                                        <td>{{ debtor.name }}</td>
                                        <td>{{ debtor.company_name }}</td>
                                        <td>{{ debtor.phone_number }}</td>
                                        <td>{{ debtor.item_bought }}</td>
                                        <td>{{ "{:,}".format(debtor.item_quantity) }}</td>
                                        <td>{{ "{:,}".format(debtor.item_value) }}</td>
                                        <td>{{ debtor.purchase_date.strftime('%d-%m-%Y') }}</td>
                                        <td><button>Edit</button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content%}