{% extends 'layout.html' %}
{% block content %}
    <section class="p-t-20">
        <div class="container mt-4">
            {% for shop_name, dates in lost_items_lookup.items() %}
                <caption style="caption-side: top"><span class="d-flex justify-content-center border-bottom"><strong>{{shop_name}}</strong></span></caption>
                <div class="row" id="usersTableRow">
                    <div class="col-md-12">
                        <div class="table-responsive table-responsive-data2">
                            <table class="table font-weight-bold">
                                <thead>
                                    <tr>
                                        <th >Date</th>
                                        <th>Item Name</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for date in dates.keys() %}
                                        <tr>
                                            <td>{{ date }}</td>
                                            <td>{{ date }}</td>
                                            <td>{{ date }}</td>
                                            <td>{{ date }}</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content%}

