{% extends 'layout.html' %}
{% block content %}
    <!-- Buttons -->
    <div class="button-container">
      <a class="button active">Stock</a>
      <a href="{{ url_for('stock_sold', shop_id=shop.id)}}" class="button">Sales</a>
      <a href="{{ url_for('stock_received', shop_id=shop.id)}}" class="button">Receive Stock</a>
      <a href="{{ url_for('add_new_stock', shop_id=shop.id)}}" class="button">Add New Item</a>
      <a class="ml-4">Date:{{date}}</a>
      <a class="ml-4"><strong>Shopkeeper:</strong>{{shop.staff.username}}</a>
      {% if current_user.user_role == 'Admin' %}
          <div class="float-right">
              <button class="btn btn-primary dropdown-toggle" type="button" id="salesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download Sales Report
              </button>
              <div class="dropdown-menu" aria-labelledby="salesDropdown">
                <a class="dropdown-item" href="{{ url_for('view_shop', shop_id=shop.id, download=True, time_range='7') }}">7 days</a>
                <a class="dropdown-item" href="{{ url_for('view_shop', shop_id=shop.id, download=True, time_range='30') }}">30 days</a>
                <a class="dropdown-item" href="{{ url_for('view_shop', shop_id=shop.id, download=True, time_range='6m') }}">6 months</a>
              </div>
              <button class="btn btn-primary dropdown-toggle" type="button" id="stockReceivedDropdown" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                  Download Stock Received Report
              </button>
              <div class="dropdown-menu" aria-labelledby="stockReceivedDropdown">
                <a class="dropdown-item" href="{{ url_for('stock_received', shop_id=shop.id, download=True, time_range='30') }}">30 days</a>
                <a class="dropdown-item" href="{{ url_for('stock_received', shop_id=shop.id, download=True, time_range='6m') }}">6 months</a>
              </div>
              <a href="{{ url_for('view_shops')}}" class="button">Back</a>
          </div>
      {% endif %}
    </div>

     <!-- Table with spreadsheet-like design -->
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          {% if current_user.user_role=='Admin' %}
            <th>Item Quantity</th>
          {% endif %}
          <th>Item Price</th>
          {% if current_user.user_role=='Admin' %}
            <th>Item Value</th>
          {% endif %}
          <th colspan="2">Item Status</th>
        </tr>
      </thead>
      <tbody>
        {% for product in shop.stock %}
          <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.item_name }}</td>
              {% if current_user.user_role=='Admin' %}
                <td class="text-right">{{ "{:,}".format(product.item_quantity) }}</td>
              {% endif %}
              <td class="text-right">{{ "{:,}".format(product.item_price) }}</td>
              {% if current_user.user_role=='Admin' %}
                <td class="text-right">{{ "{:,}".format(product.item_value) }}</td>
              {% endif %}
              <td class="text-right">{{ product.stock_status }}</td>
              <td class="text-center"><a href="#">Edit</a></td>
          </tr>
        {% endfor %}
          <tr>
              <td colspan="4" class="text-right"><strong>Total Stock Value</strong></td>
              <td class="text-right"><strong>{{total_stock_value}}</strong></td>
              <td colspan="2"></td>
          </tr>
      </tbody>
    </table>
{% endblock content%}