{% extends 'layout.html' %}
{% block content %}
    <!-- Buttons -->
    <div class="button-container">
      <a href="{{ url_for('view_shop', shop_id=shop.id)}}" class="button">Stock</a>
      <a href="{{ url_for('stock_sold', shop_id=shop.id)}}" class="button">Sales</a>
      <a href="{{ url_for('stock_received', shop_id=shop.id)}}" class="button">Receive Stock</a>
      <a class="ml-4">Date:{{date}}</a>
      {% if current_user in shop.shopkeepers %}
          <a class="ml-4"><strong>Shopkeeper:</strong>{{current_user.username }}</a>
      {% else %}
          <a class="ml-4"><strong>Shopkeeper:</strong>{{shop.shopkeepers[0].user_details.username }}</a>
      {% endif %}
      <input type="search" id="searchShops" class="inline-search ml-4 border border-dark" placeholder="Search all shops">
      <div id="searchedStock" class="font-weight-bold bg-light d-flex justify-content-center overflow-auto"></div>
      {% if current_user.user_role == 'Admin' %}
          <div class="float-right">
              <button class="btn btn-primary dropdown-toggle" type="button" id="salesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download Sales Report
              </button>
              <div class="dropdown-menu" aria-labelledby="salesDropdown">
                <a class="dropdown-item" href="{{ url_for('view_shop', shop_id=shop.id, download=True, time_range='7') }}">7 days</a>
                <a class="dropdown-item" href="{{ url_for('view_shop', shop_id=shop.id, download=True, time_range='30') }}">30 days</a>
                <a class="dropdown-item" href="{{ url_for('view_shop', shop_id=shop.id, download=True, time_range='6m') }}">6 months</a>
              </div>
              <a href="{{ url_for('view_shops')}}" class="button">Back</a>
          </div>
      {% endif %}
    </div>

     <!-- Table with spreadsheet-like design -->
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          {% if current_user.user_role=='Admin' %}
            <th>Item Quantity</th>
            <th>Item Cost Price</th>
          {% endif %}
          <th class="text-center">Item Selling Price</th>
          {% if current_user.user_role=='Admin' %}
            <th class="text-center">Item Value</th>
          {% endif %}
          <th colspan="2" class="text-center">Item Status</th>
        </tr>
      </thead>
      <tbody>
        {% for product in ShopItem.query.filter_by(shop_id=shop.id).all() %}
          <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.item.item_name }}</td>
              {% if current_user.user_role=='Admin' %}
                <td class="text-center">{{ "{:,}".format(product.item_quantity) }}</td>
                <td class="text-center">{{ "{:,}".format(product.item.item_cost_price) }}</td>
              {% endif %}
              <td class="text-center">{{ "{:,}".format(product.item.item_selling_price) }}</td>
              {% if current_user.user_role=='Admin' %}
                <td class="text-center">{{ "{:,}".format(product.item_value) }}</td>
              {% endif %}
              <td class="text-center">{{ product.item_status }}</td>
              {% if current_user.user_role=='Admin' %}
                <td class="text-center"><a href="{{ url_for ('edit_shop_stock', stock_id=product.id) }}">Edit</a></td>
              {% endif %}

          </tr>
        {% endfor %}
          <tr>
              {% if current_user.user_role=='Admin' %}
                  <td colspan="5" class="text-right"><strong>Total Stock Value</strong></td>
                  <td class="text-right"><strong>{{total_stock_value}}</strong></td>
              {% endif %}
          </tr>
      </tbody>
    </table>
{% endblock content%}

